body {
    background-color: rgb(224, 224, 224);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(89, 89, 89);
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 100%;
}

header h1 {
    margin: 0;
    margin-left: 5rem;
    color: rgb(235, 235, 235);
}

