@import url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff);

* {
    font-family: -apple-system, system-ui;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;   
}

button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#task-form {
    margin-bottom: 15px;
}

#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  :checked + label {
    text-decoration: line-through;
    color: grey;
  }